<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}

  <body>
    
    <!-- about -->
    <section id="about">
      <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            
            <!-- section max-width -->
            <div class="col-12 col-md-12 col-lg-10">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-md-11 h-100">
                        
                        <!-- start of section content -->
                        <div class="row d-flex justify-content-center  align-content-center">
                            <div class="col-12">
                                <div class="row d-flex justify-content-center  align-items-center">
                                    
                                    <div class="col-11 col-sm-10 col-md-11 col-xl-9 text-center">
                                        <h1>About</h1>
                                        <p>Brand Development Services</p>
                                        <p> </p>
                                    </div><!-- col -->  

                                    <div class="col-11 col-sm-10 col-md-11 col-xl-9 text-center align-self-end">
                                        <!-- footer content -->
                                        <div class="footernav-links">
                                            <div class="row d-flex justify-content-center justify-content-md-start ">

                                                <div class="col-6 col-md-5 col-xl-4  ">
                                                <p>
                                                    <a class="footer-link " href="about.html">About</a>
                                                </p>
                                                <p>
                                                    <a class="footer-link" href="https://www.instagram.com/thespacebetween.is/" target="_blank" rel="noreferrer">Instagram</a>
                                                </p>
                                                </div>

                                                <div class="col-6 col-md-5 offset-md-1 col-xl-3">                    
                                                <p>
                                                    <a class="footer-link" href="https://www.linkedin.com/in/courtneyaventura/" target="_blank" rel="noreferrer">LinkedIn</a>
                                                </p>
                                                <p>
                                                    <a class="footer-link" href="https://github.com/minifieddesign/minified" target="_blank" rel="noreferrer">GitHub</a>
                                                </p>
                                                </div>

                                            </div><!-- row -->
                                            </div><!-- footernav-links -->

                                    </div><!-- col -->  
                             
                                </div><!-- row -->


                            <!-- end of section content -->
                            </div><!-- col / section max-width -->
                        </div><!-- row -->
                    </div><!-- col / section max-width -->
                </div><!-- row -->
            </div><!-- container -->
        </section>

    {{- partial "footer.html" . -}}

    </body>
</html>